[submodule "ASAK"]
	path = ASAK
	url = https://github.com/hagenie128/ASAK.git
[submodule "ASAK-Kiosk"]
	path = ASAK-Kiosk
	url = https://github.com/hagenie128/ASAK-Kiosk.git
[submodule "ASAK-Admin"]
	path = ASAK-Admin
	url = https://github.com/hagenie128/ASAK_Admin.git
[submodule "ASAK-back"]
	path = ASAK-back
	url = https://github.com/hagenie128/ASAK-back.git
